/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

#outer-box {
  background-color: rgb(89, 10, 163);
}

.white-text {
  background-color: red;
  color: white;
  padding: 10px;
}

